@media (max-width: 1440px) {
    .post h1 {
	    font-size: 12pt;
	}
    .post h2 {
	    font-size: 10pt;
	}
    .post h3 {
	    font-size: 8pt;
	}
}

@media (max-width: 650px) {
    .post h1 {
	font-size: 12pt;
    }
    .post h2 {
	font-size: 10pt;
    }
    .post h3 {
	font-size: 8pt;
    }
}

@media screen and (orientation:portrait) {
    video {
	width:98%;
	height:auto;
    }
}
@media screen and (orientation:landscape) {
    video {
	height:80%;
	width:auto;
    }
}
