body {
    background: #fff;
}
body #container {
    min-height: 150px;
    min-width: 300px;
}
body #container #slider {
    height: inherit;
    width: inherit;
}
body #container #slider #dots {
    clear: both;
    position: absolute;
    text-align: center;
    margin-left: 400px;
    z-index: 10;
}
body #container #slider #dots label {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: white;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 7px;
    opacity: .5;
    width: 10px;
}
body #container #slider #dots label:hover {
    opacity: .75;
}
body #container #slider input {
    display: none;
}
body #container #slider input:checked + span {
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}
body #container #slider input + span {
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    opacity: 0;
    position: absolute;
}
body #container #slider input + span img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
body #container #slider input + span p {
    opacity: 1;
    position: absolute;
    width: 100%;
    color: #fff;
    left: 0;
    top: 0;
    padding: 0.75em 1em;
    font-weight: 700;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.7);
}

/* Boutons suivant / précédent */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
